language: ruby
rvm:
  - 2.1.5 # Debian 8

addons:
  mysql: "5.5" # Debian 8

env:
  - REDMINE_VER=master
  - REDMINE_VER=3.3-stable

install: "echo skip bundle install"

before_script:
  - mysql -e 'create database redmine;'

script:
  - export TESTSPACE=`pwd`/testspace
  - export NAME_OF_PLUGIN=typo3_forge
  - export PATH_TO_PLUGIN=`pwd`
  - export PATH_TO_REDMINE=$TESTSPACE/redmine
  - mkdir $TESTSPACE
  - cp test/support/* $TESTSPACE/
  - bash -x ./travis.sh
